{% extends "base_generic.html" %}
{% load static %}


{% block content %}
<script>
    var task_id_list = {{ task_id_list |safe}};
    var task_status_list = {{ task_status_list |safe}};

    {% for file_obj in file_objs %}
        <!-- Check status for only running task  -->
        get_task_result({{file_obj.task.status|safe}}, '{{file_obj.task.task_id|safe}}');
        {% if file_obj.file_eda %}
            get_task_result({{file_obj.file_eda.task.status|safe}}, '{{file_obj.file_eda.task.task_id|safe}}');
        {% endif %}
    {% endfor %}
</script>

<div>
    <!-- Ingest data tab   -->
    <div class="col-md" style="padding:10px;">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="files-tab" data-toggle="tab" href="#file_list" role="tab" aria-controls="upload" aria-selected="true">Files</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="upload-tab" data-toggle="tab" href="#upload" role="tab" aria-controls="upload" aria-selected="true">Upload Data</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="connect-db-tab" data-toggle="tab" href="#db" role="tab" aria-controls="db1" aria-selected="false">Connect to Database</a>
            </li>
        </ul>

        <div class="card" id="myTabContent" style="padding:10px">

            <!-- FOR UPLOAD CSV FILE           -->
            <div class="tab-pane fade" id="upload" role="tabpanel">

                <div class="header">
                    {% if messages %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {% for mes in messages %}
                            <strong>{{ mes }}</strong>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <!--  UPLOAD FORM  -->
                <div class="title__container" style="margin-top:10px">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-upload"> + Create </button>
                    <div class="modal fade bd-upload" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">

                                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

                                <div class="modal-header">
                                    <h3 class="modal-title">Select file</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                </div>

                                <div class="modal-body">
                                    <div class="col-sm-8">
                                    <!--Model ID-->
                                        <div class="form-group d-flex">
                                            <div class="custom-file mb-3">
                                                <input type="file" name="upload_file" class="custom-file-input" id="upload_file"/>
                                                <label class="custom-file-label" for="upload_file" >Select file</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <input class="btn btn-outline-success" type="submit" name ="complete" class="submit_btn btn label-success" value="  Upload  " />
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
                </div>

                <!-- Files List -->


            </div>

            <!-- FOR INGEST FROM DB      -->
            <div class="tab-pane fade" id="db" role="tabpanel">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Left Frame (30%) Add connection frame -->
                        <div class="col-md-3">
                            <!-- First Row: Search Textbox -->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                            <!-- Second Row: Add New Connection Button -->
                            <div class="title__container">
                                <div class="modal-content">
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Add new connection </button>

                                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <form id="connection_form" method="post" enctype="multipart/form-data">{% csrf_token %}
                                                    <div class="modal-header">


                                                        <img src="{% static 'img/teradata.png' %}" height="50px"/>
                                                        <h4 class="modal-title">Add connection</h4>

                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span></button>
                                                    </div>

                                                    <div class="modal-body">

                                                        <div class="form-group input__container">
                                                            <label for="connection_name">Connection Name</label>
                                                            <input type="text" class="form-control" id="connection_name" name="connection_name" aria-describedby="emailHelp" placeholder="Enter Connection Name" required>
                                                        </div>

                                                        <div class="form-group input__container">
                                                            <label for="host">Host</label>
                                                            <input type="text" class="form-control" id="host" name="host" placeholder="Host Name" required>
                                                        </div>

                                                        <div class="form-group input__container">
                                                            <label for="user_name">User Name</label>
                                                            <input type="text" class="form-control" id="user_name" name="user_name" placeholder="User Name" required>
                                                        </div>

                                                        <div class="form-group input__container">
                                                            <label for="password">Password</label>
                                                            <input type="text" class="form-control" id="password" name="password" placeholder="Password" required>
                                                        </div>

                                                        <div class="form-group input__container">
                                                            <label for="database">Database</label>
                                                            <input type="text" class="form-control" id="database" name="database" placeholder="Database" required>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <input class="btn btn-primary" type="submit" name="create_connection" value="Submit">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Third Row: List of new connection -->
                            <div style="padding-top:10px">

                                {% for conn_obj in connection_objs %}
                                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                                        <input type="hidden" class="form-control" name="connection_id" value="{{ conn_obj.connection_id }}"/>
                                        <input type="submit" class="btn btn-light btn-block text-left" style="height:80px; margin-top:10px;" name="select_connection" value="{{ conn_obj.connection_name }}"></input>
                                    </form>
                                {% endfor %}

                            </div>
                        </div>

                        <!-- Right Frame (70%) Detail of connection-->
                        <div class="col-md-9">
                            <!-- First Row: Header and Buttons -->

                            {% if selected_connection_obj %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1>{{ selected_connection_obj.connection_name }}</h1>
                                    </div>

                                    <!-- Delete connection -->
                                    <div class="col-md-6 text-right">
                                        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#delete_connection_confirm">
                                            <ion-icon name="trash-outline"></ion-icon>
                                        </button>

                                        <div class="modal fade" id="delete_connection_confirm" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" role="document">
                                                    <form method="POST" action=""> {% csrf_token %}
                                                        <div class="modal-content">
                                                            <div class="modal-body" style="text-align: left;">
                                                                Are you sure delete {{ selected_connection_obj.connection_name }} ?
                                                                <ul hidden>
                                                                    <li><input type="text" value="{{ selected_connection_obj.connection_id }}" name="delete_connection_id"></li>
                                                                </ul>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                <button type="submit" class="btn btn-danger" name="delete_connection" value="delete_connection">Delete</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <!-- Next Rows: Data Connection Details -->
                                <div class="form-group">
                                    <label for="hostName">Host Name</label>
                                    <input type="text" class="form-control" id="hostName" value="{{ selected_connection_obj.host }}" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="userName">User Name</label>
                                    <input type="text" class="form-control" id="userName" value="{{ selected_connection_obj.user_name }}" readonly>
                                </div>

                                <div class="input-group">
                                    <input type="password" class="form-control" id="pass" value="{{ selected_connection_obj.password }}" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="showPasswordToggle">
                                            <i class="fa fa-eye" id="passwordIcon"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="databaseName">Database Name</label>
                                    <input type="text" class="form-control" id="databaseName" value="{{ selected_connection_obj.database }}" readonly>
                                </div>

                                <!-- Connection button -->
                                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                    <input type="hidden" name="connection_id" value="{{ selected_connection_obj.connection_id }}">
                                    <input class="btn btn-primary" type="submit" name="get_tables_of_db" value="Connect">
                                </form>

                                <!-- Detail of connection -->
                                <div class="card" style="margin-top:10px">

                                    {% if connection_db.code == 200 %}
                                        <div class="card-header">
                                            <h3>Tables in {{ selected_connection_obj.database }}</h3>
                                        </div>
                                        <div class="card-bory">

                                                <div class="table-list">
                                                    <ul class="list-group">
                                                        {% for table in connection_db.result.table_names %}
                                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                <a href="#table1">
                                                                    <i class="fas fa-table"></i> {{ table }}
                                                                </a>
                                                                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                                                    <input type="hidden" name="table_name" value="{{ table }}">
                                                                    <input type="hidden" name="connection_id" value="{{ selected_connection_obj.connection_id }}">
                                                                    <input type="submit" class="btn btn-primary import-button" value="Import" name="ingest_table">
                                                                </form>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                        </div>

                                    {% elif connection_db.code == 405 %}
                                        <div class="alert alert-danger" role="alert">
                                            <strong>Can't connect to DB</strong>
                                        </div>
                                    {% endif %}
                                </div>

                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>

            <!-- LIST OF FILES -->
            <div class="tab-pane fade" id="file_list" role="tabpanel">
                <table id="data_source_lst" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Upload Date</th>
                            <th>Status</th>
                            <th>EDA</th>
                            <th>Build Experiment</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file_obj in file_objs %}
                        <tr>
                            <td>{{ file_obj.file_name }}</td>
                            <td>{{ file_obj.create_datetime }}</td>

                            <!-- FILE STATUS -->
                            <td>
                                {% ifequal  file_obj.task.status  0 %}
                                <div class="spinner-grow" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                {%　endifequal %}

                                {% ifequal  file_obj.task.status  1 %}
                                    <div class="spinner-grow" role="status"><span class="sr-only">Loading...</span></div>
                                {%　endifequal %}

                                {% ifequal  file_obj.task.status  2 %}
                                    <ion-icon name="checkmark-done-outline"></ion-icon>
                                {%　endifequal %}

                                {% ifequal  file_obj.task.status  3 %}
                                    <ion-icon name="alert-circle-outline"></ion-icon>
                                {%　endifequal %}
                            </td>

                            <!-- EDA Button -->
                            <td>
                                <form method="POST" action=""> {% csrf_token %}
                                {% if file_obj.file_eda %}
                                    {% if file_obj.file_eda.task.status == 2 %}
                                        <a href="{% url 'file_eda' file_obj.file_id %}"  target="_blank"><button type="button" class="btn btn-success btn-sm">Open EDA</button></a>

                                    {% elif file_obj.file_eda.task.status == 1 %}
                                        <div class="spinner-grow" role="status"><span class="sr-only">Loading...</span></div>
                                    {% elif file_obj.file_eda.task.status == 0 %}
                                        Pending
                                    {% elif file_obj.file_eda.task.status == 3 %}
                                        <a role="button" href="{% url 'task_detail' file_obj.file_eda.task.task_id %}">
                                            <button type="button" class="btn btn-outline-danger">Fail</button>
                                        </a>
                                    {% endif %}

                                {% elif file_obj.task.status == 2 %}
                                    <button type="submit" class="btn btn-outline-success btn-sm" name="create_file_eda" value="{{ file_obj.file_id }}"><ion-icon name="stats-chart-outline"></ion-icon></button>
                                {% endif %}
                                </form>
                            </td>

                            <!-- CREATE EXP BTN-->
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="{% url 'experiment_create' file_obj.file_id %}"  target="_blank">Build Experiment</a>
                            </td>

                            <!-- DELETE BUTTON -->
                            <td>
                                <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#delete_confirm" onclick="delete_confirm('{{ file_obj.file_id }}', '{{ file_obj.file_name }}')"><ion-icon name="trash-outline"/></button>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- DELETE FILE ID -->
                        <div class="modal fade" id="delete_confirm" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <form method="POST" action="" id="delete_form"> {% csrf_token %}
                                    <div class="modal-content">
                                        <div class="modal-body">
                                        Are you sure delete <p id="delete_file_name"/> file ?
                                            <ul hidden>
                                                <li><input type="text" id="delete_file_id" name="delete_file_id"></li>
                                            </ul>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger" name="delete_predict" value="delete_predict">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- List of Data   -->
</div>

<ul hidden>
    <li> <label>Selected tab: </label><input id="selected_tab" name="selected_tab" value="{{ selected_tab }}"> </li>
    <li> <label>Selected tab: </label><input id="selected_connection" name="selected_connection" value="{{ selected_connection_obj.connection_id }}"> </li>
    <li> <label>Delete connection: </label><input id="delete_connection_id" name="selected_connection" value="{{ selected_connection_obj.connection_id }}"> </li>
    <li> <label>Delete connection: </label><input value="{{ connection_db }}"> </li>
    <li> <label>Selected Table: </label><input id="selected_table"> </li>

</ul>

<link rel="stylesheet" href="{% static 'css/file.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet"> <!-- Include Font Awesome CSS -->
<script src="{% static 'javascript/file/index.js' %}" ></script>

{% endblock %}