.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(to right, #243b55, #243b55);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
     background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin: 15px 0px 0px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.card .card-block a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.header-card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin: 10px 3px 3px 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.header-card .header-card-block {
    padding: 10px;
}

.card .header-card-block {
    padding: 5px;
    color: #fca311;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
