{% extends "base_generic.html" %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row py-2">
        <div class="col mx-auto shadow border-0">

            <div class="card-body bg-white rounded">
                <div class="card-body">
                    <h1>Task Info</h1>
                </div>

                <div class="card-body table-responsive">
                    Task info at here !
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}